@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
*{
    scrollbar-width:none;
    transition:0.25s ease-in;
    margin: 0;
    padding: 0;
    font-family: "Instrument Sans";
}
body{
    display: grid;
    grid-template-rows: 35px 1fr 35px;
    align-items: center;
    justify-content: space-around;
    background-color: #000000;
}
main{
    display: grid;
    /* align-items: center; */
    justify-content: center;
    color: white;
    gap: 125px;
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
}
.page{
    width: 71vw;
    height: 90vh;
    /* outline: 1px red solid; */
    display: grid;
}
#page1{
    height: 858px;
    grid-template-rows: 42px 15px 1fr;
}
#page1{
    box-sizing: border-box;
    /* outline: 1px red solid; */
}
#header{
    display: grid;
    grid-template-columns: 99px 435px;
    border-bottom: 1px solid #FFFFFF66;
    justify-content: space-between;
    #nav{
        display: grid;
        grid-template-columns: 55px 75px 90px 105px;
        justify-content: space-between;
        a{
            text-transform:uppercase;
            text-decoration: none;
            color: white;
        }
    }
}
#over-panel{
    height: 88px;
    display: grid;
    grid-template-columns: 244px 1fr 32px;
    >{box-sizing: border-box;}
    *{
        /* outline: 1px red solid; */
    }
    #over-panel-texts{
        display: grid;
        grid-template-rows: 26px 1fr 50px;
        >div{
            color:#ffffffdd;
            font-size:16px;
            line-height:110%;
            letter-spacing:-0.5px;
        }
        >div:first-child{
            color:white;
            font-size: 24px;
            letter-spacing:-1px;
        }
    }
    #barcode{
        background-image: url(assets/barcode_vertical.svg);
    }
}
#panel{
    display:grid;
    justify-content:center;
    align-items:center;
    >div{
        font-size:140px;
        text-align:center;
        font-weight:500;
        letter-spacing:-4px;
        line-height:98%;
    }
}
#underHeader{
    background-image: url(assets/Hero\ Section.png);
    background-size:cover;
    background-position-y:40%;
    display: grid;
    grid-template-rows: 86px 1fr 52px;
}
#under-panel{
    display: grid;
    grid-template-columns: 262px 0.95fr 234px;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
    #under-panel-btn, #under-panel-line{
        box-sizing: border-box;
        border: 1px #ffffff87 solid;
    }
    #under-panel-line{
        height:0;
    }
    #under-panel-line>div{
        display: grid;
        justify-content: center;
    }
    #under-panel-btn, #under-panel-text{
        letter-spacing:-0.75px;
        height: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
    }
}
#page2{
    height: 750px;
    grid-template-columns: repeat(2, 660px);
    justify-content: space-between;
}
#page2-left-panel{
    display: grid;
    grid-template-rows: 176px 574px;
    
    #about-schrift-img{
        background-image: url(assets/About\ Image.png);
        background-position:50% 200%;
        background-repeat: no-repeat;
    }
    #about-schrift{
        display: grid;
        justify-content: start;
        align-items: center;
        >div{
            width: 440px;
            font-size: 80px; 
            text-transform: uppercase;
            line-height:110%;
            letter-spacing:-3px;
            font-weight:500;
        }
    }
}
#page2-right-panel{
    display: grid;
    grid-template-rows: 102px 608px;
    align-content: space-between;
    #schrift-is{
        font-size:24px;
        line-height:140%;
        text-transform:uppercase;
        letter-spacing:-0.95px;
    }
    #tickets-grid{
        display: grid;
        grid-template-columns: repeat(2,240px);
        grid-template-rows: repeat(2,276px);
        align-content: space-between;
        column-gap: 55px;
        .tickets{
            padding: 16px;
            background-image: url(assets/ticket.svg);
            display: grid;
            grid-template-rows: 158px 1fr 54px;
            align-content: space-between;
            .ticket-info{
                display: grid;
                grid-template-rows: 26px 20px 88px;
                align-content: space-between;
                .logo{background-repeat: no-repeat;}
                #logo1{background-image: url(assets/ticket_logo1.svg);}
                #logo2{background-image: url(assets/ticket_logo2.svg);}
                #logo3{background-image: url(assets/ticket_logo3.svg);}
                #logo4{background-image: url(assets/ticket_logo4.svg);}
                .ticket-name{
                    text-transform: uppercase;
                    font-size:18px;
                    line-height:150%;
                    letter-spacing:-0.5px;
                }
                .ticket-desc{
                    font-weight:400;
                    line-height:140%;
                    letter-spacing:-0.25px;
                }
            }
            .ticket-line{
                display:grid;
                align-items:center;
                div{
                    height: 0;
                    border: 1px #FFFFFF66 dashed;
                }
            }
            .barcode{
                background-image: url(assets/barcode_horizontal.svg);
            }
        }
    }
}

#page3{
    height: 1054px;
    grid-template-rows: 214px 800px;
    align-content: space-between;
    #page3headtext{
        display: grid;
        grid-template-rows: 88px 102px;
        align-content: space-between;
        justify-content: center;
        >div{
            width: 856px;
            text-align: center;
            text-transform: uppercase;
        }
        #page3text1{
            font-size: 80px;
            line-height: 110%;
            letter-spacing: -1px;
        }
        #page3text2{
            font-size: 24px;
            line-height: 140%;
            letter-spacing: -1px;
        }
    }
    #circlePanel{
        display: grid;
        grid-template-columns: repeat(2, 500px);
        grid-template-rows: repeat(2, 350px);
        justify-content: center;
        align-content: center;
        
        background-image: url(assets/Ellipse.svg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        
        .partOfCircle{
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border: 1px solid;


            .hiddenPanel{
                width: 100%;
                height: 100%;
                display: grid;
                justify-content: center;
                align-items: center;
                background-color:#00000033;
                backdrop-filter:blur(50px);
                opacity: 0;
                .hiddenPanelInfo{
                    
                    width: 374px;
                    height: 248px;
                    display: grid;
                    grid-template-rows: 8px 70px 88px;
                    align-content: space-between;
                    /* justify-items: end; */
                    
                    
                    

                    .hiddenPanelNums{
                        line-height: 110%;
                        letter-spacing: -1px;
                    }
                    .hiddenPanelText1{
                        width: 201px;
                        font-size: 34px;
                        line-height: 110%;
                        letter-spacing: -2px;
                    }
                    .hiddenPanelText2{
                        line-height: 140%;
                        letter-spacing: -0.5px;
                    }
                }
                .right{
                    justify-items:end;
                    div{text-align: right;}
                }
                .left{
                    justify-items:self-start;
                    div{text-align: left;}
                }
            }
            .hiddenPanel:hover{
                opacity: 1;
            }

        }
        .partOfCircle:nth-child(1){
            border-image: linear-gradient(135deg, black,black, white) 1;
            border-radius: 0 0 15px 0;
            border-left: none;
            border-top: none;
        }
        .partOfCircle:nth-child(2){
            border-image: linear-gradient(225deg, black,black, white) 1;
            border-radius: 0 0 0 15px;
            border-top: none;
            border-right: none;
        }
        .partOfCircle:nth-child(3){
            border-image: linear-gradient(45deg, black, black, white) 1;
            border-radius: 0 15px 0 0;
            border-bottom: none;
            border-left: none;
        }
        .partOfCircle:nth-child(4){
            border-image: linear-gradient(315deg, black, black, white) 1;
            border-radius: 15px 0 0 0;
            border-bottom: none;
            border-right: none;
        }

    }
}


#page4{
    height: 768px;
    grid-template-rows: 176px 552px;
    align-content: space-between;
    #page4textInfo{
        display:grid;
        grid-template-columns: 668px 668px;
        justify-content:space-between;
        #page4text1{
            width: 150px;
            line-height:110%;
            letter-spacing: -4px;
            text-transform:uppercase;
            font-size: 80px;
        }
        #page4text2{
            font-size:24px;
            line-height:140%;
            text-transform:uppercase;
            letter-spacing: -1px;
        }
    }
    #page4panel{
        display: grid;
        grid-template-columns: 668px 668px;
        justify-content: space-between;
        #leftPanel{
            #something{
                width: 292px;
                height: 400px;
                position: absolute;
                background-image: url(assets/Ellipse\ 13.png);
                background-size: cover;
                background-repeat: no-repeat;
                transform: translateX(-50px);
            }
            #HoverOnTheList{
                height:552px;
                display:grid;
                justify-content:center;
                align-items:center;
                
                background-color:#FFFFFF0A;
                backdrop-filter: blur(24px);
                box-shadow:inset 0 0 60px #ffffff59;
                >div{
                    width:285px;
                    font-size:56px;
                    text-align:center;
                    transform: rotate(-20deg);
                    text-transform: uppercase;
                    letter-spacing:-1px;
                    line-height:110%;
                }
            }
        }
        #rightPanel{
            display: grid;
            grid-template-rows: repeat(4,138px);
            #text{
                padding-left: 22px;
                padding-right: 22px;
                border-bottom: 1px solid #F1F1F133;
                box-sizing: border-box;
                display: grid;
                grid-template-columns: 241px 160px;
                justify-content: space-between;
                align-items: center;
                font-size: 24px;
                letter-spacing: -1px;
                .info{
                    display: grid;
                    grid-template-columns: 25px 192px;
                    justify-content: space-between;
                    text-transform: uppercase;
                }
                .barcode{
                    height: 38px;
                    background-image: url(assets/barcode_horizontal.svg);
                }
            }
            #text:first-child{
                border-top: 1px solid #F1F1F133;
            }
        }
    }
}



#page5{
    height: 834px;
    display: grid;
    grid-template-rows: 88px 136px 382px 76px;
    justify-content: center;
    justify-items:center;
    align-content:space-between;
    text-align: center;
    #page5-text{
        font-size:80px;
        letter-spacing:-4px;
    }
    #page5-text-clients{
        width:850px;
        text-transform:uppercase;
        font-size:24px;
        letter-spacing:-0.9px;
    }
    #page5-blocks{
        width: 1209px;
        height: 382px;
        display: grid;
        grid-template-columns: repeat(3, 387px);
        grid-template-rows: repeat(2, 183px);
        justify-content: space-between;
        align-content: space-between;
        .tickets-users{
            background-image: url(assets/Subtract_Smaller.svg);
            background-repeat: no-repeat;
            display: grid;
            justify-content: center;
            align-items: center;
            
            
            .content{
                height: 165px;
                display: grid;
                grid-template-rows: 30px 50px;
                gap: 25px;
                .top-ticket{
                    display: grid;
                    grid-template-rows: 20px 0px;
                    gap: 10px;
                    /* justify-content: center; */
                    /* align-content: center; */
                }
                >div{width: 343px;}
                .p5-text{
                    display: flex;
                    justify-content: space-between;
                    >div:first-child{
                        width: 100%;
                        font-size: 16px;
                        letter-spacing: -1px;
                        text-transform: uppercase;
                        text-align: left;
                    }
                    >div:last-child{
                        width: 130%;
                        color: #ffffff8c;
                        font-size: 14px;
                        font-style: italic;
                        text-align: right;
                    }
                }
                .line{
                    height: 0;
                    border: 1px #ffffff2c dashed;
                }
                .review{
                    font-size: 14px;
                    letter-spacing: -0.52px;
                }
            }
        }
        .small-ticket{
            background-image: url(assets/Subtract.svg);
        }
    }
    .end{
        font-size: 24px;
        display: grid;
        gap: 15px;
    }
}











