*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: grid;
    grid-template-rows: 10px 1fr 10px;
    align-items: center;
    justify-content: space-around;
    background-color: #000000;
}
main{
    display: grid;
    align-items: center;
    justify-content: space-around;
    color: white;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
#page1,#page2,#page3,#page4{
    width: 80vw;
    height: 100vh;
}
#page1{
    width: 95vw;
    height: 90vh;
    display: grid;
    grid-template-rows: 42px 15px 1fr;
}
#page1{
    box-sizing: border-box;
    /* outline: 1px red solid; */
}
#header{
    display: grid;
    grid-template-columns: 99px 1fr 435px;
    border-bottom: 1px solid #FFFFFF66;
    #nav{
    
        display: grid;
        grid-template-columns: 55px 75px 90px 95px;
        justify-content: space-between;
        a{
            text-decoration: none;
            color: white;
        }
    }
}
#over-panel{
    height: 88px;
    display: grid;
    grid-template-columns: 244px 1fr 32px;
    >{box-sizing: border-box;}
    *{
        /* outline: 1px red solid; */
    }
    #over-panel-texts{
        display: grid;
        grid-template-rows: 26px 1fr 50px;
        div:first-child{
            font-size: 24px;
        }
    }
}
#underHeader{
    background-image: url(assets/Hero\ Section.png);
    display: grid;
    grid-template-rows: 86px 1fr 52px;
}
#under-panel{
    display: grid;
    grid-template-columns: 262px 52vw 234px;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
    #under-panel-btn, #under-panel-line{
        box-sizing: border-box;
        border: 1px #FFFFFFCC solid;
    }
    #under-panel-line>div{
        display: grid;
        justify-content: center;
        width: 20vw;
    }
    #under-panel-btn, #under-panel-text{
        height: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
    }
}